/* Home */
/* ---------------------------------------------------------------------------- */















/* ---------------------------------------------------------------------------- */

/* Projects */
/* ---------------------------------------------------------------------------- */
.projects-container {
    width: 90vw;
    height: 80vh;
    margin: 1% auto;
    /* border-style: solid;
    border-width: 1px;
    border-color: black; */
}

.projects-header {
    height: 10%;
    width: 100%;
}

.projects-gridview-container {
    width: 100%;
    height: 80%;
    display: grid;
    /* Have this on Carousel view as well */
    margin-top: 2%; 
    grid-template-columns: repeat(6, 12vw);
    grid-auto-rows: 20vh;
    column-gap: 2%;
    row-gap: 5%;
    padding-top: 3%;
    padding-left: 3%;
    /* overflow-y: auto; */

    /* border-style: solid;
    border-width: 1px;
    border-color: black; */

}

.projects-gridview-item {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-style: solid;
    border-width: 0.1px;
    border-radius: 20px;
    border-color: rgb(230, 230, 230);

    /* border-style: solid;
    border-width: 1px;
    border-color: black; */

}

.projects-gridview-item:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.projects-carouselview-container {
    width: 100%;
    height: 80%;
    padding-top: 3%;
    padding-left: 3%;
    /* overflow-y: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
/* 
    border-style: solid;
    border-width: 1px;
    border-color: black; */
}

.projects-carouselview-items-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 50vh;
    border-style: solid;
    border-width: 1px;
    border-color: red;
}

.projects-carouselview-item {
    height: 100%;
    width: 10%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.active {
    width: 40%;
    transition: 1s ease;
}






/* ---------------------------------------------------------------------------- */

/* Timeline */
/* ---------------------------------------------------------------------------- */
.timeline-container {
    width: 80vw;
    height: 70vh;
    margin: 1% auto;
    margin-top: 3%; 

    overflow-y: auto;

    /* border-style: solid;
    border-width: 1px;
    border-color: red; */
}


.timeline-item-container {
    height: 10vh;
    width: 65vw;
    margin-left: 7%;
    transition: 0.3s ease;
    font-family: "jersey";
    font-size: 400%;

    /* border-style: solid;
    border-width: 1px;
    border-color: black; */
}

.timeline-item-container:hover {
    height: 30vh;
    transition: 0.3s ease;
}


::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #777777;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #b8b8b8;
}


/* ---------------------------------------------------------------------------- */




/* About */
/* ---------------------------------------------------------------------------- */









/* ---------------------------------------------------------------------------- */


/* Spacer */

.spacer {
    flex: 1 1 auto;
}