/* Canvas */
.App {
   height: 100vh;
   width: 100vw;
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Header---------------------------------- */
/* Header Container */
.header-container {
    height: 8vh;
    width: 100vw;
    background-color: black;
    display: inline-flex;
}


.header-header {

    font-family: 'Source Code Pro', monospace;
    font-size: 50px;
    align-self: center;
    margin-left: 7%;

    color: white;
}

/* Menu Button */
/* ButtonGroup.js */
.menu-button-group {
    display: flex;
}
/* ButtonLink.js */
.menu-button {
    width: 8vw;
    align-self: center;
    color: white;
    font-weight: 600;
    /* border-color: green;
    border-style: dotted; */

    padding: 15%;
}


span.menu-button-selected {
    color: red;
    font-weight: bolder;
    padding: 15%;
}



/* ---------------------------------------------------------------------------- */

/* Spacer */

.spacer {
    flex: 1 1 auto;
}